.body-content {
  width: 100vw;
  height: 100vh;
  background-color: rgb(81, 89, 201);
  display: flex;
  align-items: center;
  justify-content: center;
}

.body-content__box {
  max-width: 320px;
  width: 100%;
  min-height: 400px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.2);
}